{% extends "base.html" %}
{% load pages_extras %}

{% block title %}Create Task{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <form method="post">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Create/Update Task</legend>
              <p>Create/update task to remind your friends about</p>
          </fieldset>
          {% for field in form %}
            {% if field.name not in custom_handled_fields %}
              <div class="form-group">
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small class="form-text text-muted" style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <div class="text-danger" style="color: red"><small>{{ error }}</small></div>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}

              <div class="form-group">
              <label for="id_days_opt">Which days would you like a reminder on this task?</label>
              <div class="btn-group btn-group-toggle" id="id_days_opt" data-toggle="buttons">
                  {% for day in custom_handled_fields %}
                      <label class="btn btn-sm btn-outline-primary days{% if form|get_item:day %} active{% endif %}">
                          <input type="checkbox" class="btn-check" autocomplete="off" name="{{day}}" {% if form|get_item:day %} checked{% endif %}> {{day}}
                      </label>
                  {% endfor %}
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--   <input type="checkbox" checked autocomplete="off"> Sunday -->
                  <!-- </label> -->
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--   <input type="checkbox" checked autocomplete="off"> Monday -->
                  <!-- </label> -->
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--     <input type="checkbox" checked autocomplete="off"> Tuesday -->
                  <!--   </label> -->
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--     <input type="checkbox" checked autocomplete="off"> Wednesday -->
                  <!--   </label> -->
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--     <input type="checkbox" checked autocomplete="off"> Thursday -->
                  <!--   </label> -->
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--     <input type="checkbox" checked autocomplete="off"> Friday -->
                  <!--   </label> -->
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--     <input type="checkbox" checked autocomplete="off"> Saturday -->
                  <!--   </label> -->
                </div>
              </div>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Submit</button>
                <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
            </div>
        </form> 
      </div>
    </div>
  </div>
{% endblock content %}
