{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2>Create Task</h2>  
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            {% if field.name not in custom_handled_fields %}
              <div class="form-group">
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small class="form-text text-muted" style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <div class="text-danger" style="color: red"><small>{{ error }}</small></div>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}

              <div class="form-group">
              <label for="id_days_opt">Which days would you like a reminder on this task?</label>
              <div class="btn-group btn-group-toggle" id="id_days_opt" data-toggle="buttons">
                  {% for day in custom_handled_fields %}
                      <label class="btn btn-sm btn-outline-primary days">
                          <input type="checkbox" autocomplete="off" name="{{day}}"> {{day}}
                      </label>
                  {% endfor %}
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--   <input type="checkbox" checked autocomplete="off"> Sunday -->
                  <!-- </label> -->
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--   <input type="checkbox" checked autocomplete="off"> Monday -->
                  <!-- </label> -->
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--     <input type="checkbox" checked autocomplete="off"> Tuesday -->
                  <!--   </label> -->
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--     <input type="checkbox" checked autocomplete="off"> Wednesday -->
                  <!--   </label> -->
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--     <input type="checkbox" checked autocomplete="off"> Thursday -->
                  <!--   </label> -->
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--     <input type="checkbox" checked autocomplete="off"> Friday -->
                  <!--   </label> -->
                  <!-- <label class="btn btn-sm btn-outline-primary days active"> -->
                  <!--     <input type="checkbox" checked autocomplete="off"> Saturday -->
                  <!--   </label> -->
                </div>
              </div>
          <button type="submit" class="btn btn-danger btn-block">Submit</button>
        </form> 
      </div>
    </div>
  </div>
{% endblock content %}
