<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}LAhacks{% endblock %}</title>

</head>
{% block content %}
<div class="container-fluid">
   <div class="row">
     <div class="col-md-12">
       <h2> Task List</h2>
         <table class="table">
           <thead>
              <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Task Name</th>
                <th>Frequency</th>
                <th>Friend Name</th>
                <th>Message</th>
                <th>Actions</th>
              </tr>
           </thead>
           <tbody>
              {% for task in tasks %}
              <tr>
                <td>Date</td>
                <td>Time</td>
                <td>Task Name</td>
                <td>Frequency</td>
                <td>Friend Name</td>
                <td>{{task.body}}</td>
                <td><a href="{% url 'taskUpdate' pk=task.pk %}">Update</a></td>
              </tr>
              {% endfor %}
           </tbody>
         </table>
     </div>
   </div>
</div>

{% endblock content %}