{% extends "base.html" %}

{% block title %}Delete Task{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Task</legend>
                <p>Would you like to delete this task?</p>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Confirm Deletion</button>
                <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock content %}
