{% extends "base.html" %}

{% block title %}Task List{% endblock %}

{% block content %}

<style>
        .btn-primary-days:disabled {
                color: #fff;
                background-color: #d11cd1;
                border-color: #d11cd1;
        }
        .btn-outline-primary-days:disabled {
                color: #d11cd1;
                background-color: #ffffff;
                border-color: #d11cd1;
        }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <div class="row align-items-center">
            <div class="col-md-10">
                <h2>Hello, {{ user.username }}!</h2>
                <p>Here are your tasks...</p>
            </div>
            <div class="col-md-2">
                <a href="{% url 'taskCreate' %}" class="btn btn-primary float-right">Create Task</a>
            </div>
        </div>
         <table class="table">
           <thead>
              <tr>
                <th>Task Name</th>
                <th>Message</th>
                <th>Time</th>
                <th>Friend Name</th>
                <th>Days of the Week</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
              </tr>
           </thead>
           <tbody>
              {% for task in tasks %}
              <tr>
                <td>{{ task.task_name}}</td>
                <td style="word-wrap: break-word">{{task.body}}</td>
                <td>{{task.time_of_day}}</td>
                <td>{{task.friend_name}}</td>
                <td><!--Weekly Buttons -->
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group me-2" role="group">
                                  <button type="button" class="btn{% if task.Sunday %} btn-primary-days{% else %} btn-outline-primary-days{% endif %}" disabled>Su</button>
                                  <button type="button" class="btn{% if task.Monday %} btn-primary-days{% else %} btn-outline-primary-days{% endif %}" disabled>M</button>
                                  <button type="button" class="btn{% if task.Tuesday %} btn-primary-days{% else %} btn-outline-primary-days{% endif %}" disabled>Tu</button>
                                  <button type="button" class="btn{% if task.Wednesday %} btn-primary-days{% else %} btn-outline-primary-days{% endif %}" disabled>W</button>
                                  <button type="button" class="btn{% if task.Thursday %} btn-primary-days{% else %} btn-outline-primary-days{% endif %}" disabled>Th</button>
                                  <button type="button" class="btn{% if task.Friday %} btn-primary-days{% else %} btn-outline-primary-days{% endif %}" disabled>F</button>
                                  <button type="button" class="btn{% if task.Saturday %} btn-primary-days{% else %} btn-outline-primary-days{% endif %}" disabled>Sa</button>
                                </div>
                        </div>
                </td>
                <td>{{task.start_date}}</td>
                <td>{{task.end_date}}</td>
                <td><!--Update and Remove buttons-->
                    {% comment %}
                        <a href="{% url 'taskDescription' pk=request.user.id %}">Details</a>
                    {% endcomment %}
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a class="btn btn-warning" href="{% url 'taskUpdate' pk=task.pk %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'taskDelete' pk=task.pk %}">Remove</a>
                    </div>
                </td>
                
              </tr>
              {% endfor %}
           </tbody>
         </table>
     </div>
   </div>
</div>

{% endblock content %}
